.left-side-menu{
	width:100%;
	height:100%;
	background-color:#2b2c2e;
	padding:0px;
	padding-bottom:10px;
	padding-top:0px;
}
.left-menu-item{
	width:100%;
	height:40px;
	line-height: 40px;
	vertical-align: middle;
	color:white;
	padding-left:0px;
}
.left-menu-item:hover, .lm-item > div.active:hover{
	background-color:#428bca;
}
.lm-item > div.active{
	background-color:#a4cf65;
}
.lmenu-text{
	display:inline-block;
	float:left;
	height:auto;
	width:100%;
	margin-left:-50px;
	padding-left: 60px;
}
.lmenu-icon{
	display:inline-block;
	float:left;
	height:auto;
	width:45px;
	text-align: center;
}
.icon-middle{
	vertical-align:middle;
}
.some-info{
	width:100%;
	height:50px;
}